<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>New News Item</h3>
        <form method="POST" action="/news" class="form-group">
          <input name="id" hidden value="-1"/>
          <input name="title" class="form-control" required placeholder="Title"/><br>
          <input type="date" class="form-control"required name="date" ><br>
          <img class="newsimg" id="img-1" src=""/>
          <input type="text" class="form-control" required name="imagelink"  placeholder="Image Link"  oninput="UpdateUserImage(this.value,-1)"><br>
          <textarea name="text" class="form-control" required rows="8" cols="80" placeholder="Description:" ></textarea><br>
          <input type="text" class="form-control" required name="link"  placeholder="Site Link" ><br>
          <label for="default" class="btn btn-default">Event <input type="checkbox" id="default" name=event class="badgebox"><span class="badge">&check;</span></label><br>
              <button class="btn btn-default btn-lg" type="submit">Save New</button>
          </form>
          <hr/>
      <h2>News &amp; Events (TOP 3 SHOWN) sorted by date</h2>
      <% news.forEach((item, index) => { %>
        <% if(index === 3){ %>
          <hr />
          <h4>Items under this point will not be shown </h4>
          <hr />
        <% } %>
        <hr />
        <div>
        <form method="POST" action="/news" class="form-group">
          <input name="id" hidden value="<%= item.id %>"/>
          <input name="title" class="form-control"required value="<%= item.title %>" placeholder="Title"/><br>
          <input type="date" class="form-control"required name="date"  value="<%= item.date %>"><br>
          <img class="newsimg" id="img<%= item.id %>" src="<%= item.imagelink %>"/>
          <input type="text" class="form-control"required name="imagelink" value="<%= item.imagelink %>" placeholder="Image Link" oninput="UpdateUserImage(this.value,<%= item.id %>)"><br>
          <textarea name="text" class="form-control"required rows="8" cols="80" placeholder="Description:" ><%= item.text %></textarea><br>
          <input type="text" class="form-control"required name="link" value="<%= item.link%>" placeholder="Site Link" ><br>
          <label for="id-<%= item.id %>" class="btn btn-default">Event <input type="checkbox" id="id-<%= item.id %>" name="event" class="badgebox" <%= item.event ? "checked" : "" %> ><span class="badge">&check;</span></label><br>
          <button class="btn btn-default btn-lg" type="submit">save</button>
          </form>
          <form method="POST" action="delete/news" class="form-group">
            <input name="id" hidden value="<%= item.id %>"/>
            <button class="btn btn-red btn-lg" type="submit">Delete</button>
          </form>
        </div>
        <% }) %>
    </div>
</div>